<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.screen.mapper.MaxStudioShareMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, catalogue_id, screen_id, share_name, create_time, update_time
    </sql>

<!--    <insert id="addShare">-->
<!--        insert into maxstudioshare(screen_id,qrcode_address, value) values-->

<!--    </insert>-->

    <insert id="addShare" parameterType="com.screen.pojo.MaxStudioShare">
        insert into max_studio_share
        (screen_id, qrcode_address)
        values
            (#{screenId},#{qrcodeAddress})
    </insert>
</mapper>
